h1, ul, img {
    text-align: center;
}

body {
    background-image: url(./images/food.jpg);
}

section {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 20px;
    height: 100%;
}

img {
    display: block;
    width: 200px;
    height: auto;
    margin: auto;
}



a {
    color: black;
}

a:hover {
    color: brown;
}

footer {
    background-image: url(./images/red.jpg);
    width: 80%;
    margin: auto;
    padding: 20px;
    color: white;
    text-align: center;
}

.foot {
    color: white;
}

.container {
    background-color: palevioletred;
}

.ing, ul {
    background-color: burlywood;
    text-align: left;
}



.step {
    background-color: beige;
}

div {
    padding: 50px;
}